@{
    ViewBag.Title = "Contact";
}
<h2>Contact.</h2>
<h3>Prantor IT Corner</h3>

<address>
   Shahid Mohammad Ali Shorok<br />
    Chowrasta, Thakurgaon<br />
    <abbr>Contact No. : 01304195004</abbr>
    
</address>

<address>
    <strong>Email:</strong>   <a href="wahidswapnil550@gmail.com">wahidswapnil550@gmail.com</a><br />
    
</address>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#contactMenu").addClass('active');
        });
    </script>
}