@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>نظام إدارة المدرسة</h1>
    <h2>Madrasa Management System</h2>
    <br />
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Surah Al-Hashr </h2>
        <p>
            Ayah 21 :  Had We sent down this Quran upon a mountain, you would have certainly seen it humbled and
            torn apart in awe of Allah. We set forth such comparisons for people, so perhaps they may reflect.
        </p>
    </div>
        <div class="col-md-4">
        <h2>Surah Al-Qamar </h2>
        <p>
            Ayah 17 : And certainly We have made easy the Quran for remembrance, 
            so is (there) any who will receive admonition?
        </p>
            
                
</div>
    <div class="col-md-4">
        <h2>Surah Muhammad </h2>
        <p>
            Ayah 24 : Do they not then reflect on the Quran? Or are there locks upon their hearts?
        </p>
    </div>
    

   

    </div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#homeMenu").addClass('active');
        });
    </script>
}